:root {
  font: 16px / 1 sans-serif;
  color: white;
}

html {
  height: 100%;
}

header {
  font-size: 3rem;
  background: #829298;
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  border: solid 0.25rem silver;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  text-align: center;
  background-color: #022b3a;
  /* background-image: url('./images/1989bg.jpg');
  background-size: 100%; */
}

h3 {
  background: #829298;
  padding: 1rem;
  margin: 1.5rem 7rem 0rem 7rem;
  border: solid 0.25rem silver;
  border-radius: 0.5rem;
}

.poster_boarder {
  border: solid 1rem #e1ca96;
  border-radius: 0.5rem;
}

img {
  border: dotted 1rem gold;
}

h4 {
  background: #829298;
  padding: 1rem;
  margin: 1rem 9rem 0.5rem 9rem;
  border: solid 0.25rem silver;
  border-radius: 0.5rem;
}

p {
  background: #829298;
  padding: 1rem;
  margin: 0rem 1rem 0rem 1rem;
  border: solid 0.25rem silver;
  border-radius: 0.5rem;
}

@media (min-width: 700px) {
  header {
    font-size: 3rem;
    background: #829298;
    padding: 1rem;
    margin: 0rem 15rem 1rem 15rem;
    border: solid 0.25rem silver;
  }

  main {
    background-image: url('./images/bg1989.jpg');
    height: 100%;
  }

  h3 {
    background: #829298;
    padding: 1rem;
    margin: 2rem 30rem 0rem 30rem;
    border: solid 0.25rem silver;
    border-radius: 0.5rem;
  }

  .poster_boarder {
    border: solid 1rem #e1ca96;
    border-radius: 0.5rem;
    margin: 0rem 32rem 0rem 32rem;
  }

  img {
    border: dotted 1rem gold;
  }

  h4 {
    background: #829298;
    padding: 1rem;
    margin: 1rem 35rem 0.5rem 35rem;
    border: solid 0.25rem silver;
    border-radius: 0.5rem;
  }

  p {
    background: #829298;
    padding: 1rem;
    margin: 0rem 15rem 0rem 15rem;
    border: solid 0.25rem silver;
    border-radius: 0.5rem;
  }
}
